<h1> Heroine Super-name: <%=@heroine.super_name%></h1>
<h2> Heroine actual name: <%=@heroine.name%>

<%@heroine.powers.each do |power|%>

<h3><%=link_to power.name, power_path(power)%></h3>


<%end%>
<br>
<%= link_to "edit", edit_heroine_path(@heroine) %>
<br>
<%= link_to 'Heroine Home', heroines_path %>